*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*display: flex;
  align-items: center;*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 133px auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 1140px;
  gap: 30px;
}

.result {
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  block-size: 386px;
  inline-size: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 5px;
}

.search-form__textfield {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  inline-size: 225px;
  height: 27px;
  padding: 2px 0;
  border-right: none;
  border-left: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
  align-items: center;
  transition: all 0.3s linear;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  transition: all 0.3s linear;
}

input[type='checkbox']:checked + span::before {
  content: '';
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  align-self: flex-end;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  height: 34px;
  transition: all 0.3s linear;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 26px;
}

li:not(:last-of-type) {
  margin-bottom: 35px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 2px;
  transition: all 0.3s linear;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  border: none;
}

.more-button {
  width: 399px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 